body{
    padding: 10px 15px;
    box-shadow: 0 0 20px 0 #d9d9d9;
}

h1{
    background-image: url("https://www.monetplus.cz/sites/default/files/logo-monet.svg");
    background-position: 50% 0, 100%, 20px 20px, 50%, 0 90%;
    background-repeat: no-repeat;
    background-color: #fff;
}